
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='aboutmecss.css') }}">
<title> Jeremiah's Biography </title>
</head>
<body>
<h1> <center><img src=https://bbk12e1-cdn.myschoolcdn.com/ftpimages/320/user/large_user_5881047_856.jpg?crop=0,0,100%,80%&resize=200,200 /><br>Jeremiah Wong </center> </h1>
  <p> <center>  Hayward, California</p> </center> 

<p class = "container"> <a href= "#AboutMe"> About Me</a> <a href= "#Experience"> Experience</a> <a href= "#Education">  Education</a> <a href= "#Interests"> Interests</a></p>
  <hr>
<h2 id="AboutMe"> About Me</h2>
  <hr>
<h3 id = "Experience"> Experience</h3>
  <p>Student intern in <abbr title="Carter Innovation Studios">CIS</abbr> <br>
    Student Intern in <abbr title="Genelab for Highschools">GL4HS</abbr><br>
    Camp Counselor and <abbr title="Carter Innovation Studios">CIS</abbr> Intern for Athenian Summer Program</p>
  
<hr>
<h4 id = "Education"> Education</h4>
  <p> Elementary School: Challenger School in Newark <br> Middle School: The Athenian School
<br> High School: The Athenian School</p>

<hr>
<h5 id = "Interests"> Interests</h5>
  <p> FPV Droning <br> RC Cars </p>
</body>
